.search-box{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #6384b4;;
  width: 80%;
  border-radius: 8px;
  border: white 3px solid;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-top: 10px;
}


.character-details{
  display: flex;
}

.image{
  border-radius: 5px;
  border-color: #505050;
  border: turquoise 3px solid;
}

.name{
  color: turquoise;
}

.class{
  color: turquoise;
}

.realm{
  color: turquoise;
}

.guild{
  color: #f3e306;
}

.server-form{
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.realm-form{
  border-radius: 5px;
  border-color: #9f9d9d;
  margin-top: 10px;
  margin-right: 10px;
}

.name-form{
  border-radius: 5px;
  border-color: #9f9d9d;
  margin-top: 10px;
  margin-right: 10px;
}

.button{
  border-radius: 5px;
  color: white;
  background-color: royalblue
}

.character-data{
  display: inline-flex;
  justify-content: space-evenly;
  width: 84%;
  margin-top: 10px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.data-box{
  display: flex;
  justify-content: left;
  border-radius: 7px;
  background-color: #6384b4;
  padding:5px;
  margin: 5px;
  width: 40%;
  border: white 3px solid;
}
