.page{
  text-align: center;
  justify-content: space-around;
  background-image: url('../images/background2.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
