.page{
  text-align: center;
  background-color: #383333;
  justify-content: space-around;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}