.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #0f223f;
  height: 80px;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
}

.logo{
  margin-right: 5px
}

.logo-name{
  display: flex;
}

.title{
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  font-size: 40px;
  font-weight: 700;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  color: rgb(255, 255, 255);
}

.sign-in{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.sign-up{
  border: black 2px solid;
  border-radius: 5px;
  height: 40%;
  width: 70px;
  margin-right: 5px;
}

.login{
  border: white 2px solid;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
  height: 40%;
  width: 70px
}